extends ../layout

block content
  h1= title
  p Listing all books
  p
    a(href="/books/new") Create New Book
  
  each book in books
    //- p Testing location
    p= book.year
    h1= book.genre
    h2= book.title
    include by_line
    //- p= book.shortDescription()
    //- p= article.body
    a(href="/books/" + book.id) Read More &rarr;