body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
}

div {
  padding: 20px;
}

a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

a:hover {
  color: black;
}

a.button,
input[type=submit] {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

.pagination li {
  display: inline-flex;
  justify-content: space-between;
  margin: 1em;
}

form a.button,
input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

a.button:hover,
input[type=submit]:hover {
  background-color: #01b189;
}

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

h1.title {
  border-bottom: 2px solid gold;
  max-width: fit-content;
}

table {
  display: flex;
  flex-direction: column;
}

th {
  border-bottom: 2px solid #D8B493;
}

tr {
  display: flex;
  min-height: 50px;
  max-width: 100%;
  width: 100%;
  justify-content: space-around;
}

tr:nth-child(2n) {
  background: #E7E7E7;
}

td {
  padding: 10px;
  max-width: 100%;
  width: 100%;
  text-align: center;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.error {
  color: rgb(236, 15, 15);
}

input.DELETE:hover {
  background: rgb(236, 15, 15);
}

.btn-box {
  display: flex;
  /* justify-content: center; */
}

.btn-box a {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

.btn-box a:hover {
  background-color: #01b189;
}

@media only screen and (min-width: 656px) {
  th {
    padding: 5px 50px;
  }
}