extends ../layout

block content
  h1= title
  p 
    | Are you sure you want to delete 
    em= novel.title
    | ?
  form(action="/novels/" + novel.id + "?_method=DELETE", method="post")
    a(href="/novels/" + novel.id) No! Take me back!
    | 
    input(type="submit", value = "Yes, I am")