form(action="/novels/term/search")
  div.btn--wrapper
    p
      label(for='term') Search
      input#search(name='term', type='search', placeholder="search..")
    p
      input(type='submit', value='Search')
      a.button(href='/') Clear Search