extends ../layout

block content
  h1(class="title")= novel.title
  include by_line
  p= 'Genre : ' + novel.genre
  p= 'Year : ' + novel.year
  a(href="../novels") &larr; Back 
  | | 
  a(href="/novels/" + novel.id + "/edit") Edit novel 
  | | 
  a(href="/novels/" + novel.id + "/delete") Delete novel 